<script src="../webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="../polymer/polymer.html">
<script src="../d3/d3.min.js"></script>
<script src="../underscore/underscore-min.js"></script>
<link rel="import" href="../iron-ajax/iron-ajax.html">

<link rel="import" href="elements/polimero-behavior.html">
<link rel="import" href="elements/brushable-behavior.html">
<link rel="import" href="elements/graph-behavior.html">

<link rel="import" href="elements/polimero-csv.html">
<link rel="import" href="elements/polimero-ajax.html">
<link rel="import" href="elements/polimero-graph.html">
<link rel="import" href="elements/polimero-bio-sam.html">
<link rel="import" href="elements/polimero-bio-vcf.html">
<link rel="import" href="elements/polimero-bio-newick.html">

<link rel="import" href="elements/polimero-barchart.html">
<link rel="import" href="elements/polimero-scatterplot.html">
<link rel="import" href="elements/polimero-radviz.html">
<link rel="import" href="elements/polimero-parcoords.html">
<link rel="import" href="elements/polimero-multiresolution.html">
<link rel="import" href="elements/polimero-klaudia.html">
<link rel="import" href="elements/polimero-circos.html">
<link rel="import" href="elements/polimero-nodelink.html">
<link rel="import" href="elements/polimero-matrix.html">
