<!--
Usage example:
<polimero-radviz datapoints="{{datapoints}}" brushedmarks="{{bm}}" dimensions="X,Y,Z" options='{"width":500}'>
</polimero-radviz>
-->

<dom-module id="polimero-radviz">
  <template>
    <style>
      circle {
        fill: rgba(0,0,0,0.05);
        stroke-width: 1;
        stroke: rgba(0,0,0,0.25);
      }
      circle.axes {
        fill: none;
      }
      circle.dim {
        fill: black;
      }
      .brush .extent {
        fill-opacity: .1;
        stroke: #fff;
        shape-rendering: crispEdges;
      }
      .brushed {
        fill: red
      }
    </style>
  </template>
</dom-module>

<script>
  Polymer({
    is: "polimero-radviz",
    behaviors: [PolimeroBehavior,BrushableBehavior],

    ready: function() {
      this.radius = Math.min(this.width - 2 * this.xMargin, this.height - 2 * this.yMargin) / 2
      this.centerX = this.width/2
      this.centerY = this.height/2
    },

    _calculateScales: function(data) {
      var me = this
      me.scales = {}
      for (var dimNum in me.dims) {
        me.scales[dimNum] = d3.scale.linear()
          .domain([ d3.min(data.map(function(d) { return d['data'][me.dims[dimNum]]})),
                    d3.max(data.map(function(d) { return d['data'][me.dims[dimNum]]}))])
          .range([0, 1])
      }
    },

    _calculateX: function(datapoint) {
      var me = this
      var totalAttractorForce = 0
      me.dims.forEach(function(dim, i) {
        totalAttractorForce = totalAttractorForce + me.scales[i](datapoint[dim])
      })

      var countingX = 0
      me.dims.forEach(function(dim, i) {
        countingX = countingX + me.scales[i](datapoint[dim]) * me.dimensionPositions[dim].x
      })
      return countingX / totalAttractorForce
    },

    _calculateY: function(datapoint) {
      var me = this
      var totalAttractorForce = 0
      me.dims.forEach(function(dim, i) {
        totalAttractorForce = totalAttractorForce + me.scales[i](datapoint[dim])
      })

      var countingY = 0
      me.dims.forEach(function(dim, i) {
        countingY = countingY + me.scales[i](datapoint[dim]) * me.dimensionPositions[dim].y
      })
      return countingY / totalAttractorForce
    },

    _draw: function() {
      var me = this

      if (me.datapoints != null) {
        me._calculateScales(me.datapoints)
        me._drawAxes()

        me.datapoints.map(function(d) {
          d.x = me._calculateX(d.data)
          d.y = me._calculateY(d.data)
        })

  			me.svg.append("g")
  				.attr("class", "brush")
  				.call(d3.svg.brush()
  					.x(d3.scale.identity().domain([0, me.width]))
  					.y(d3.scale.identity().domain([0, me.height]))
  					.on("brush", function() {
  						var extent = d3.event.target.extent();
  						me.marks.classed('brushed', function(d) {
  							return extent[0][0] <= d.x && d.x <= extent[1][0]
  									&& extent[0][1] <= d.y && d.y <= extent[1][1]
  						})
  						me.svg.selectAll('.brushed').forEach(function(d) {
  							me.brushedmarks = d.map(function(el) { return el.id })
  						})
  					}));
        me.marks = me.svg.selectAll("circle.mark")
  				.data(me.datapoints)
  				.enter()
  				.append('circle')
  				.attr({
  					cx: function(d) { return d.x },
  					cy: function(d) { return d.y },
  					r: 3,
  					class: 'mark',
  					id: function(d) { return d.id }
  				})
      }

    },

    _drawAxes: function() {
      var me = this;

      if (!me.axesDrawn) {
        // Draw the circle
        me.svg.append("circle").attr({
            cx: me.centerX,
            cy: me.centerY,
            r: me.radius,
            class: 'axes unselectable'
          })

        // Draw the dims
        var dimCount = me.dims.length
        var radBetweenDims = (2 * Math.PI) / dimCount
        me.dimensionPositions = {}
        me.dimensionPositionsLabel = {}
        me.dims.forEach(function(d, i) {
          var theta = 0 + i * radBetweenDims
          var x = me.radius * Math.cos(theta)
          var y = me.radius * Math.sin(theta)
          me.dimensionPositions[d] = {
            x: me.centerX + x,
            y: me.centerY + y
          }
          me.svg.append("circle")
            .attr({
              cx: me.dimensionPositions[d].x,
              cy: me.dimensionPositions[d].y,
              r: 3,
              class: 'dim unselectable',
            })
            .append("svg:title")
            .text(d)
        })

        me.axesDrawn = true
      }
    }
  })
</script>
