<!--
  Usage example:
  <polimero-scatterplot
    datapoints="{{datapoints}}"
    brushedmarks="{{brushedMarks}}"
    dimensions="sepalLength,petalLength"
    options='{"width":100}' ></polimero-scatterplot> -->

<dom-module id="polimero-klaudia">
  <template>
    <style>
      circle {
        fill: rgba(0,0,0,0.2);
        stroke: none;
      }
    </style>
  </template>
</dom-module>

<script>
  // register a new element called proto-element
  Polymer({
    is: "polimero-klaudia",
    behaviors: [PolimeroBehavior, BrushableBehavior],

    _calculateScales: function(data) {
      var me = this
      me.scales = {}
      me._xMin = me.margin.left
      me._yMax = me.plotHeight

      me.scales['pos'] = d3.scale.linear()
          .domain([d3.min(me.datapoints, function(d) {
              return d.data.pos
            }),
            d3.max(me.datapoints, function(d) {
              return d.data.pos
            })
          ])
          .range([me._xMin, me.width - me.margin.right])
      me.scales['mapq'] = d3.scale.linear()
          .domain([d3.min(data, function(d) { return d.data.mapq}),
                    d3.max(data, function(d) { return d.data.mapq})])
          .range([me._yMax, me.margin.top])
    },

    _getColor: function(d) {
      binary = parseInt(d.data.flag,10).toString(2)
      binaryArray = binary.split('').reverse()
      if ( binaryArray[3] == 1 ) { // mate is not mapped
        return "blue"
      } else if ( ( binaryArray[4] == 1 && binaryArray[5] == 1 ) || ( binaryArray[4] == 1 && binaryArray[5] == 1 ) ) { // FF or RR
        return 'orange'
      } else if ( d.data.tlen > 400 ) {
        return 'red'
      } else {
        return 'grey'
      }
    },

    _drawAxes: function() {
      var me = this;
      if (me.xaxis) {
        var xaxis = d3.svg.axis().scale(me.scales['pos'])
          .tickValues(me.scales['pos'].domain())
        me.svg.append('g')
          .attr("class", "x axis")
          .attr("transform", "translate(0," + me._yMax + ")")
          .call(xaxis)
        me.svg.append("text")
          .attr({
            x: me.margin.left + me.plotWidth/2,
            y: me.plotHeight + me.margin.bottom
          })
          .style({
            'text-anchor': 'middle'
          })
          .text('pos')

      }
      if (me.yaxis) {
        var yaxis = d3.svg.axis().scale(me.scales['mapq']).orient("left")
        me.svg.append('g')
          .attr("class", "y axis")
          .attr("transform", "translate(" + me._xMin + ",0)")
          .call(yaxis)
        me.svg.append("text")
          .attr({
            transform: "rotate(-90)",
            y: 0,
            x: 0 - (me.plotHeight / 2),
            dy: '1em'
          })
          .style({
            'text-anchor': 'middle'
          })
          .text('qual')
      }
    },

    _draw: function() {
      var me = this

      if ( me.datapoints != null) {
        me._calculateScales(me.datapoints)
        me._drawAxes()
        me._drawTitle()

        me.datapoints.map(function(d) {
          d.x_left = me.scales['pos'](d.data.pos)
          d.x_right = me.scales['pos'](d.data.pos + d.data.tlen)
          jiggle = Math.random()*2
          if ( Math.random > 0.5 ) {
            jiggle = -jiggle
          }
          d.y = me.scales['mapq'](d.data.mapq) + jiggle
          d.col = me._getColor(d)
        })

        filteredDatapoints = me.datapoints.filter(function(d) {
          return d.data.tlen >= 0
        })

        me.marksleft = me.svg.selectAll("circle.markleft")
          .data(filteredDatapoints)
          .enter()
          .append("circle")
          .attr({
            cx: function(d) {
              return d.x_left
            },
            cy: function(d) {
              return d.y
            },
            r: 3,
            class: 'markleft',
            id: function(d) { return d.id }
          })
          .style({
            fill: function(d) { return d.col },
            opacity: function(d) {
              if ( d.col == 'grey' ) { return 0.1 } else { return 0.5 }
            }
          })
        me.marksright = me.svg.selectAll("circle.markright")
          .data(filteredDatapoints)
          .enter()
          .append("circle")
          .attr({
            cx: function(d) {
              return d.x_right
            },
            cy: function(d) {
              return d.y
            },
            r: 3,
            class: 'markright',
            id: function(d) { return d.id }
          })
          .style({
            fill: function(d) { return d.col },
            opacity: function(d) {
              if ( d.col == 'grey' ) { return 0.1 } else { return 0.5 }
            }
          })

        me.markslines = me.svg.selectAll("line.mark")
          .data(filteredDatapoints)
          .enter()
          .append("line")
          .attr({
            x1: function(d) { return d.x_left },
            y1: function(d) { return d.y },
            x2: function(d) { return d.x_right },
            y2: function(d) { return d.y }
          })
          .style({
            stroke: function(d) { return d.col },
            'stroke-opacity': function(d) {
              if ( d.col == 'grey' ) { return 0.1 } else { return 0.5 }
            }
          })


        me.marksleft.append("svg:title")
          .text(function(d) { return d.x + ' ' + d.id + ' - ' + d.data.pos + '-' + (d.data.pos + d.data.tlen) + ' - ' + d.data.mapq })
        me.marksright.append("svg:title")
          .text(function(d) { return d.x + ' ' + d.id + ' - ' + d.data.pos + '-' + (d.data.pos + d.data.tlen) + ' - ' + d.data.mapq })

      }
    }
  });
</script>
