<!--
  Usage example:
  <polimero-nodelink
    datapoints="{{graph}}">
  </polimero-nodelink>
-->
<dom-module id="polimero-nodelink">
  <template>
  <style>
    .node {
      fill: grey;
      opacity: 0.3
    }
    .link {
      stroke: grey;
      opacity: 0.05;
      fill: none;
    }
    .link:hover {
      stroke: red;
      opacity: 1;
    }
    .link.brushed {
      stroke: red;
      opacity: 1;
    }
    .node.brushed {
      fill: red;
      opacity: 0.8
    }
  </style>
</template>
</dom-module>

<script>
  Polymer({
    is: "polimero-nodelink",
    behaviors: [PolimeroBehavior, BrushableBehavior],

    _draw: function() {
      var me = this

      if ( me.datapoints != null ) {
        var force = d3.layout.force()
          .charge(-100)
          .linkDistance(10)
          .size([me.svg.attr('width'),me.svg.attr('height')]);

        force
          .nodes(me.datapoints.filter(function(d) { return d.type == 'node'}))
          .links(me.datapoints.filter(function(d) { return d.type == 'link'}))
          .start();

        me.links = me.svg.selectAll(".link")
          .data(me.datapoints.filter(function(d) { return d.type == 'link'}))
          .enter().append("line")
          .attr({
            class: "link"
          })
        me.links.append("svg:title")
          .text(function(d) { return d.id })

        me.nodes = me.svg.selectAll(".node")
          .data(me.datapoints.filter(function(d) { return d.type == 'node'}))
          .enter().append("circle")
          .attr({
            class: "node",
            id: function(d) { return d.id },
            r: 3
          })
          .on("mouseover", function(n) {
            me.links.classed('brushed', function(l) {
              return n.id == l.source_node || n.id == l.target_node
            })
            me.brushedmarks = [n.id]
          })
          .on("mouseout", function(n) {
            me.links.classed('brushed',false)
            me.brushedmarks = []
          })
          .call(force.drag);
        me.nodes.append("svg:title")
          .text(function(d) { return d.id })

        force.on("tick", function() {
					me.links.attr("x1", function(d) {
							return d.source.x;
						})
						.attr("y1", function(d) {
							return d.source.y;
						})
						.attr("x2", function(d) {
							return d.target.x;
						})
						.attr("y2", function(d) {
							return d.target.y;
						});

					me.nodes.attr("cx", function(d) {
							return d.x;
						})
						.attr("cy", function(d) {
							return d.y;
						});
        })
      }
    }
  });
</script>
