<!--
  Usage example:
  <polimero-matrix
    datapoints="{{graph}}"
    options='{"width":100}' ></polimero-matrix> -->

<dom-module id="polimero-matrix">
  <template>
    <style>
      circle {
        fill: rgba(0, 0, 0, 0.05);
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.25);
      }
    </style>
  </template>
</dom-module>

<script>
  // register a new element called proto-element
  Polymer({
    is: "polimero-matrix",
    behaviors: [PolimeroBehavior],

    _calculateScales: function() {
      var me = this
      me.scales = {}
      me._xMin = me.margin.left
      me._yMax = me.plotHeight

      me.scales['x'] = d3.scale.linear()
        .domain([
                  d3.min(me.datapoints
                        .filter(function(d) { return d.type == 'link'})
                        .map(function(d) { return d.source })),
                  d3.max(me.datapoints
                        .filter(function(d) { return d.type == 'link'})
                        .map(function(d) { return d.source }))])
        .range([me._xMin, me.width - me.margin.right])

      me.scales['y'] = d3.scale.linear()
        .domain([
                d3.min(me.datapoints
                      .filter(function(d) { return d.type == 'link'})
                      .map(function(d) { return d.target })),
                d3.max(me.datapoints
                      .filter(function(d) { return d.type == 'link'})
                      .map(function(d) { return d.target }))])
        .range([me._yMax, me.margin.top])
    },

    _draw: function() {
      var me = this

      if (me.datapoints != null) {
        me._calculateScales()
        me._drawTitle()

        me.marks = me.svg.selectAll("circle.mark")
          .data(me.datapoints.filter(function(d) { return d.type == 'link' }))
          .enter()
          .append("circle")
          .attr({
            cx: function(d) {
              return me.scales['x'](d.source)
            },
            cy: function(d) {
              return me.scales['y'](d.target)
            },
            r: 2,
            class: 'mark',
            id: function(d) {
              return d.id
            }
          })

        me.marks.append("svg:title")
          .text(function(d) { return d.data.from.data.name + ' -> ' + d.data.to.data.name })
      }
    }
  });
</script>
