<!--
  Usage example:
  <polimero-barchart
    datapoints="{{datapoints}}"
		brushedMarks="{{brushedMarks}}"
    dimensions="sepalLength"
    options='{"width":100}' ></polimero-barchart> -->

<dom-module id="polimero-barchart">
	<template>
		<style>
			rect {
				fill: rgba(0,0,0,0.25);
				stroke: none;
			}
			.brush .extent {
				fill-opacity: .1;
				stroke: #fff;
				shape-rendering: crispEdges;
			}
			.brushed {
				fill: red
			}

		</style>
	</template>
</dom-module>

<script>
	Polymer({
		is: "polimero-barchart",
		properties: {
			startAtZero: {
				type: Boolean,
				value: true
			}
		},
		behaviors: [PolimeroBehavior, BrushableBehavior],

		_calculateScales: function(data) {
			var me = this
			me.scales = {}
			me._xMin = me.xMargin
			me._yMax = me.height - me.yMargin

			me.scales['x'] = d3.scale.linear()
					.domain([0, data.length])
					.range([me._xMin, this.width])
			me.scales[me.dims[0]] = d3.scale.linear()
					.domain([d3.min(data, function(d) { return d.data[me.dims[0]]}),
										d3.max(data, function(d) { return d.data[me.dims[0]]})])
					.range([me._yMax, 0])
			me._barWidth = me.width/data.length
			if ( me._barWidth > 2 ) { // Add white space between bars if possible
				me._barWidth = me._barWidth - 1
			}
		},

		_draw: function() {
			var me = this

			if ( me.datapoints != null ) {

				me._calculateScales(me.datapoints)

				me.datapoints.map(function(d,i) {
					d.x = me.scales['x'](i)
				 	d.y = me.scales[me.dims[0]](d.data[me.dims[0]])
				})

				me.svg.append("g")
					.attr("class", "brush")
					.call(d3.svg.brush()
						.x(me.scales['x'])
						.y(me.scales[me.dims[0]])
						.on("brush", function() {
							var extent = d3.event.target.extent();
							me.marks.classed('brushed', function(d,i) {
								return extent[0][0] <= i && i <= extent[1][0]
							})
							me.svg.selectAll('.brushed').forEach(function(d) {
								me.brushedmarks = d.map(function(el) { return el.id })
							})
						}));

				me.marks = me.svg.selectAll("rect.mark")
					.data(me.datapoints)
					.enter()
					.append('rect')
					.attr({
						x: function(d, i) {
							return d.x
						},
						y: function(d) {
							return d.y
						},
						width: me._barWidth,
						height: function(d) {
							return me._yMax - d.y
						},
						class: 'mark',
						id: function(d) {
							return d.id
						}
					})
				}

				me.marks.append("svg:title")
					.text(function(d) { return JSON.stringify(d)})


		}

	})
</script>
