<!--
  <template is="dom-bind">
      <polimero-ajax
        url="http://demo.thedatatank.com/xls/baseball.json"
        datapoints="{{csv}}"></polimero-ajax>
      <polimero-scatterplot
        datapoints="{{csv}}"
        dimensions="Position,Salary"></polimero-scatterplot>
  </template>
-->

<dom-module id='polimero-ajax'>
  <template>
       <iron-ajax
        auto
        url={{url}}
        method="GET"
        handle-as="json"
        on-response="handleResponse"></iron-ajax>
  </template>
</dom-module>
  <script>
  Polymer({
    is: "polimero-ajax",
    properties: {
      url: "",
      datapoints: {
        type: Array,
        value: [],
        notify: true
      }
    },
    handleResponse: function(request) {
      var me = this;
      me.data = request.detail.response;
      me.datapoints = me.data.map(function(d,i) {
        return {
          id: 'polimero_id_' + i,
          data: d
        }
      });
    },
    ready: function() {
      var me = this;
      // Need something else here?
      // Maybe a message saying that data is being loaded?
    }
  });
</script>
