<!--
  Usage example:
  <polimero-parcoords
    datapoints="{{datapoints}}"
    dimensions="sepalLength,sepalWidth,petalLength,petalWidth"
    options='{"width":800}' ></polimero-parcoords> -->

<dom-module id="polimero-parcoords">
  <template>
    <style>
      path {
        fill: none;
        stroke: rgba(0,0,0,0.2);
        stroke-width: 1;
      }
      .axis {
        stroke-width: 0.5
      }
      .unselectable {
  			-moz-user-select: -moz-none;
  			-khtml-user-select: none;
  			-webkit-user-select: none;
  		}
    </style>
  </template>
</dom-module>

<script>
  // register a new element called proto-element
  Polymer({
    is: "polimero-parcoords",
    behaviors: [PolimeroBehavior],

    properties: {
      datapoints: {
        type: Array,
        value: [],
        observer: "_draw"  // Run this function whenever datapoints changes
      }
    },

    ready: function() {
      this.svg = d3.select('body').append('svg')
                  .attr({width: this.width, height: this.height, class: "unselectable"})
    },

    _calculateScales: function(data) {
      var me = this
      _xMin = me.xMargin
      _xMax = me.width - me.xMargin
      _yMin = me.yMargin + 30
      _yMax = me.height - me.yMargin

      // xScaleOrdinal converts dimension name to numbers 0,1,2,...
			// xScale converts these numbers to actual pixels
			var xScaleOrdinal = d3.scale.ordinal()
										.domain(me.dims)
										.range(Array.apply(null, Array(me.dims.length)).map(function (_, i) {return i;}))
			me.xScale = d3.scale.linear()
										.domain([d3.min(xScaleOrdinal.range()),d3.max(xScaleOrdinal.range())])
										.range([_xMin, _xMax])

      me.scales = {}
      for ( var dimNum in me.dims ) {
        me.scales[me.dims[dimNum]] = d3.scale.linear()
        .domain([d3.min(data.map(function(d) { return d['data'][me.dims[dimNum]]})), d3.max(data.map(function(d) { return d['data'][me.dims[dimNum]]}))])
        .range([_yMax,_yMin])
      }

    },

    _drawAxes: function() {
			var me = this;
			var yAxes = {}
			for ( var dimNum in me.dims ) {
				yAxes[dimNum] = d3.svg.axis().scale(me.scales[me.dims[dimNum]]).orient("left")
				me.svg.append('g')
					.attr("class","y axis")
					.attr("transform", "translate(" + me.xScale(dimNum) + ",0)")
					.call(yAxes[dimNum])
        me.svg.append('text')
					.attr({
						x: me.xScale(dimNum),
						y: 20,
					})
					.text(function(d) { return me.dims[dimNum] })
						.attr({
							"font-family": "sans-serif",
							"font-size": "12px",
							"text-anchor": "middle"
						})
			}
		},

    _convertDomainToPlot: function(data) {
			var me = this

			// output will be an array:
			// [{'x':1,'y':3},{'x':2,'y':5},{'x':5,'y':2}]
			var points = []
			for ( var dimNum in me.dims ) {
				points.push({x:me.xScale(dimNum),y:me.scales[me.dims[dimNum]](data['data'][me.dims[dimNum]])})
			}
			return points
		},

    _draw: function() {
      var me = this
      if ( me.datapoints != null) {
        me._calculateScales(me.datapoints)
        me._drawAxes()

        var lineFunction = d3.svg.line()
          .x(function(d) { return d.x })
          .y(function(d) { return d.y })
          .interpolate('linear')

        me.svg.selectAll("path")
          .data(me.datapoints)
          .enter()
          .append('path')
          .attr({
            d: function(e) { return lineFunction(me._convertDomainToPlot(e)) },
            class: 'mark path polimero-parcoords',
            id: function(d) { return d.id }
          })
      }
    }
  });
</script>
