<!--
  Usage example:
  <polimero-circos
    nodes="{{nodes}}" links="{{links}}">
  </polimero-circos>
-->
<dom-module id="polimero-circos">
  <template>
    <style>
      .node {
        fill: grey;
      }
      .node:hover {
        fill: red
      }
      .node.brushed {
        fill: red
      }
      .link {
        stroke: grey;
        opacity: 0.05;
        fill: none;
      }
      .link.brushed {
        stroke: red;
        opacity: 0.8
      }
      .link:hover {
        stroke: red;
        opacity: 1;
      }
    </style>
  </template>
</dom-module>

<script>
  Polymer({
    is: "polimero-circos",
    behaviors: [PolimeroBehavior, BrushableBehavior],

    _draw: function() {
      var me = this

      if ( me.datapoints != null ) {

        me.links = me.svg.selectAll("path.link")
            .data(me.datapoints.filter(function(d) { return d.type == 'link'}))
            .enter()
            .append("path")
              .attr({
                d: function(d) {
                  return "M " + (me.height/2)*Math.cos(d.data.from.data.rad)
                    + ',' + (me.height/2)*Math.sin(d.data.from.data.rad)
                    + ',' + "Q 0,0," + (me.height/2)*Math.cos(d.data.to.data.rad)
                    + ',' + (me.height/2)*Math.sin(d.data.to.data.rad)},
                transform: "translate(" + (me.width/2) + ',' + (me.height/2) + ")",
                class: 'link'
              })
        me.links.append("svg:title")
          .text(function(d) { return d.data.from.data.name + "-" + d.data.to.data.name})

        me.nodes = me.svg.selectAll("circle.node")
          .data(me.datapoints.filter(function(d) { return d.type == 'node'}))
          .enter()
          .append("circle")
              .attr({
                r: 2,
                cx: function(d) { return (me.height/2)*Math.cos(d.data.rad) },
                cy: function(d) { return (me.height/2)*Math.sin(d.data.rad) },
                transform: "translate(" + (me.width/2) + ',' + (me.height/2) + ")",
                class: "node",
                id: function(d) { return d.id }
              })
              .on("mouseover", function(n) {
                me.links.classed('brushed', function(l) {
                  return n.id == l.data.from.id || n.id == l.data.to.id
                })
                me.brushedmarks = [n.id]
              })
              .on("mouseout", function(n) {
                me.links.classed('brushed',false)
                me.brushedmarks = []
              })
        me.nodes.append("svg:title")
            .text(function(d) { return d.data.name})
      }
    }
  });
</script>
