<!--
  Usage example:
  <polimero-scatterplot
    datapoints="{{datapoints}}"
    brushedmarks="{{brushedMarks}}"
    dimensions="sepalLength,petalLength"
    options='{"width":100}' ></polimero-scatterplot> -->

<dom-module id="polimero-scatterplot">
  <template>
    <style>
      circle {
        fill: rgba(0, 0, 0, 0.05);
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.25);
      }

      .brush .extent {
        fill-opacity: .1;
        stroke: #fff;
        shape-rendering: crispEdges;
      }

      .brushed {
        fill: red
      }

      .axis path {
        fill:none;
        stroke: black;
      }

      .axis {
        font-size:8pt;
        font-family:sans-serif;
      }

      .tick {
        fill: black;
      }
    </style>
  </template>
</dom-module>

<script>
  // register a new element called proto-element
  Polymer({
    is: "polimero-scatterplot",
    behaviors: [PolimeroBehavior, BrushableBehavior],

    _calculateScales: function() {
      var me = this
      me.scales = {}
      me._xMin = me.margin.left
      me._yMax = me.plotHeight

      me.scales[me.dims[0]] = d3.scale.linear()
        .domain([d3.min(me.datapoints, function(d) {
            return d.data[me.dims[0]]
          }),
          d3.max(me.datapoints, function(d) {
            return d.data[me.dims[0]]
          })
        ])
        .range([me._xMin, me.width - me.margin.right])

      me.scales[me.dims[1]] = d3.scale.linear()
        .domain([d3.min(me.datapoints, function(d) {
            return d.data[me.dims[1]]
          }),
          d3.max(me.datapoints, function(d) {
            return d.data[me.dims[1]]
          })
        ])
        .range([me._yMax, me.margin.top])
    },

    _drawAxes: function() {
      var me = this;
      if (this.xaxis) {
        var xaxis = d3.svg.axis().scale(me.scales[me.dims[0]])
          .tickValues(me.scales[me.dims[0]].domain())
        me.svg.append('g')
          .attr("class", "x axis")
          .attr("transform", "translate(0," + me._yMax + ")")
          .call(xaxis)
        me.svg.append("text")
          .attr({
            x: me.margin.left + me.plotWidth/2,
            y: me.plotHeight + me.margin.bottom
          })
          .style({
            'text-anchor': 'middle'
          })
          .text(me.dims[0])
      }
      if (me.yaxis) {
        var yaxis = d3.svg.axis().scale(me.scales[me.dims[1]]).orient("left")
        me.svg.append('g')
          .attr("class", "y axis")
          .attr("transform", "translate(" + me._xMin + ",0)")
          .call(yaxis)
        me.svg.append("text")
          .attr({
            transform: "rotate(-90)",
            y: 0,
            x: 0 - (me.plotHeight / 2),
            dy: '1em'
          })
          .style({
            'text-anchor': 'middle'
          })
          .text(me.dims[1])
      }
    },

    _draw: function() {
      var me = this

      if (me.datapoints != null) {
        me._calculateScales()
        me._drawAxes()
        me._drawTitle()

        me.datapoints.map(function(d) {
          d.x = me.scales[me.dims[0]](d.data[me.dims[0]])
          d.y = me.scales[me.dims[1]](d.data[me.dims[1]])
        })

        me.svg.append("g")
          .attr("class", "brush")
          .call(d3.svg.brush()
            .x(me.scales[me.dims[0]])
            .y(me.scales[me.dims[1]])
            .on("brush", function() {

              var extent = d3.event.target.extent();
              me.marks.classed('brushed', function(d) {
                return extent[0][0] <= d.data[me.dims[0]] && d.data[me.dims[0]] <= extent[1][0] && extent[0][1] <= d.data[me.dims[1]] && d.data[me.dims[1]] <= extent[1][1]
              })
              me.svg.selectAll('.brushed').forEach(function(d) {
                me.brushedmarks = d.map(function(el) {
                  return el.id
                })
              })
            }));


        me.marks = me.svg.selectAll("circle.mark")
          .data(me.datapoints)
          .enter()
          .append("circle")
          .attr({
            cx: function(d) {
              return d.x
            },
            cy: function(d) {
              return d.y
            },
            r: 3,
            class: 'mark',
            id: function(d) {
              return d.id
            }
          })

        me.marks.append("svg:title")
          .text(function(d) {
            return JSON.stringify(d)
          })

      }
    }
  });
</script>
