<!-- see http://bl.ocks.org/mbostock/3719724 -->
<polymer-element name="polimero-table" extends="polimero-plot" attributes="dimensions data selected options">
	<template>
		<shadow></shadow>
	</template>
	<script>
	Polymer('polimero-table', {
		// We set some defaults here
		// Use this in html: <scatter-plot options='{"width": 200, "xaxis": true}'></scatter-plot>
		// ATTENTION: - the complete options string has to be in SINGLE quotes
		//            - the keys have to be in DOUBLE quotes
		ready: function() {
			this.super()
			
			this.dimensions = JSON.parse(this.dimensions)
			
			// Minimize the SVG element (we don't need it)
			this.svg = d3.select(this.$.svg).attr({width: 0, height: 0})
			
			// Add the scaffold for the table
			var body = d3.select(this.$.svg.parentNode)
			var table = body.append("table")
			var thead = table.append("thead")
			thead.append("tr")
			table.append("tbody")
		},
				
		drawData: function(data) {
			var me = this
			
			var totals = {}
			me.dimensions.forEach(function(dim) {
				var max = d3.max(data.map(function(d) {
					return +d.data[dim]
				}))
				totals[dim] = max
			})
			
			d3.selectAll("thead td").data(me.dimensions)
			
			d3.select(me.$.svg.parentNode).selectAll("thead tr")
				.selectAll("td")
				.data(me.dimensions)
				.enter()
				.append("td")
				.text(function(d) { return d })
				.attr({"class":"unselectable"})
				.on("click", function(dim) {
				    tr.sort(function(a, b) { return (+b.data[dim]/totals[dim]) - (+a.data[dim]/totals[dim]); });
				});

			var tr = d3.select(me.$.svg.parentNode).select("tbody").selectAll("tr")
				.data(data)
				.enter().append("tr")
			var marks = tr.selectAll("td")
				.data(function(d) { return me.dimensions.map(function(dim) { return +d.data[dim]/totals[dim] })})
				.enter()
				.append("td")
				.append("svg")
				.attr({
					width: 71,
					height: 12
				})
				.append("rect")
				.attr({
					height: 12,
					width: function(d) { return d*71 },
					class: 'mark'
				})
		},

		dataChanged: function() {
			var me = this
            
            if (me.data.length > 0) {
                // me.calculateScales(me.data)
                me.drawData(me.data)
                // me.drawAxes(me.data)
            }
		}
	})
	</script>
</polymer-element>
