<!--
This ONLY works if you remove all header lines!!!!!
Only 1 sample.
Sample has to be called SAMPLE

Example:
        <polimero-bio-vcf url="data/HG00096.raw.vcf_noheader" data="{{data}}"></polimero-bio-vcf>
		<polimero-scatterplot
			data="{{data}}"
			selected="{{selected}}"
			xValues="pos"
			yValues="qual"
			options='{"width": 600, "height": 150, "yaxis": true, "xaxis": true}'></polimero-scatterplot>
		<polimero-scatterplot
			data="{{data}}"
			selected="{{selected}}"
			xValues="info_DP"
			yValues="qual"
			options='{"width": 600, "height": 150, "yaxis": true, "xaxis": true}'></polimero-scatterplot>
		<polimero-scatterplot
			data="{{data}}"
			selected="{{selected}}"
			xValues="info_MQ"
			yValues="qual"
			options='{"width": 600, "height": 150, "yaxis": true, "xaxis": true}'></polimero-scatterplot>

-->
<polymer-element name="polimero-bio-vcf" attributes="url data selected">
	<script>
		Polymer('polimero-bio-vcf', {
			ready: function() {
				var me = this
				me.selected = []
				me.data = []
				d3.tsv(me.url, function(data) {
					data.forEach(function(d,i) {
						var datapoint = {}
						d.chrom = d['#CHROM']
						d.pos = +d.POS
						d.id = d.ID
						d.ref = d.REF
						d.alt = d.ALT
						d.qual = +d.QUAL
						d.filter = d.FILTER
						d.info = {}
						var INFOarray = d.INFO.split(';')
						INFOarray.forEach(function(el) {
							if ( el.match(/=/) ) {
								var fields = el.split('=')
								
								// See if we can convert to a number
								var value = +fields[1]
								if ( isNaN(value) ) {
									value = fields[1]
								}
								
								d['info_' + fields[0]] = value
							} else {
								d['info_' + el] = true
							}
						})
						var FORMATarray = d.FORMAT.split(':')
						var SAMPLEarray = d.SAMPLE.split(':')
						d.sample = {}
						FORMATarray.forEach(function(el,i) {
							// See if we can convert to a number
							var value = +SAMPLEarray[i]
							if ( isNaN(value) ) {
								value = SAMPLEarray[i]
							}

							d['sample_' + el] = value
						})
						
						delete(d['#CHROM'])
						delete(d.POS)
						delete(d.ID)
						delete(d.REF)
						delete(d.ALT)
						delete(d.QUAL)
						delete(d.FILTER)
						delete(d.INFO)
						delete(d.FORMAT)
						delete(d.SAMPLE)
						
						datapoint['id'] = 'polimero_id_' + d.chrom + '_' + d.pos // Adding an ID to each object
						datapoint['data'] = d;
						me.data.push(datapoint)
					});
				})
				return me.data
			}
		})
	</script>
</polymer-element>