
<!--
Usage:

	<polimero-calendar data="{{data}}" date="date" values="petalWidth" 
		options='{"width":154, "height":1100, "margin":30, "colorLow":"green", "colorMed":"yellow", "colorHigh":"red", "lowerRange":2014, "upperRange":2016}' 
		selected={{selected}}>
	</polimero-calendar>

References: 

	http://stackoverflow.com/questions/27913266/tweak-d3-calendar-view-example-to-be-vertical-with-days-be-ordered-left-to-right 
	https://github.com/mbostock/d3/wiki/Time-Formatting;	
-->

<polymer-element name="polimero-calendar" attributes="options data date values selected">
	<template>
    <style>
        .selected {
			opacity: 0.1;
		}
		div {
		  font: 10px sans-serif;
		}
		.block {
		    float: left;
		    margin: 0 0px;
		}
		.day {
		  fill: #fff;
		  stroke: black;
		  stroke-width: 0.75px;
		}

		.month {
		  fill: none;
		  stroke: #000;
		  stroke-width: 2px;
		}
		.legend {
		  stroke: black;
		  stroke-width: 0.75px;
		}
    </style>
        <div style = "float:left; width:60px"> 
            <svg id="legend">
        </div>
		<div id="calendar" style = "block:left"></div>
	</template>
	<script>
		Polymer('polimero-calendar', {

			// ATTENTION: - the complete options string has to be in SINGLE quotes
			//            - the keys have to be in DOUBLE quotes
			ready: function() {

				this.data = this.data || [];

				// Parsing the 'options' string from HTML element arguments
				this.options = this.options || '{}';
				this.opts = JSON.parse(this.options);
				this.width = this.opts['width'] || 154;
				this.height = this.opts['height'] || 1100;
				this.margin = this.opts['margin'] || 30;

				
				var lowerRange = this.opts['lowerRange'] || 2014,
					upperRange = this.opts['upperRange'] || 2016;
				this.range = [lowerRange, upperRange];
				
				// List of colors to represent the three leves (Low, Medium, High)
				this.colorLow = this.opts['colorLow'] || 'green';
				this.colorMed = this.opts['colorMed'] || 'yellow';
				this.colorHigh = this.opts['colorHigh'] || 'red';	

				// Define the scales;
				this.day = d3.time.format("%w");
				this.week = d3.time.format("%U");
				this.format = d3.time.format("%Y-%m-%d");
				this.months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

				this.cell = (this.width - this.margin) / 7; 
				
				this.drawYear();
				this.addLabel();
				this.drawCalendar();

			},

			selectedChanged: function() {
				var me = this
				
				if ( me.selected.length > 0 ) {
					me.selected.forEach(function(d) {
						me.svg.selectAll('#' + d).classed('selected',true)
					})
				} else {
					me.svg.selectAll(".selected").classed('selected',false)
				}
			},

			drawYear: function() {

				var me = this;

				me.svg = d3.select(me.$.calendar).selectAll("svg")
						.data(d3.range(me.range[0], me.range[1])).enter()
						.append("div").attr("class", "block") 
						.append("svg")
							.attr("width", me.width)
							.attr("height", me.height)
						.append("g")
				     		.attr("transform", "translate(" + me.margin + ",15)");
			},

			addLabel: function() {
				var me = this;

				// Add the label for each year drawn;
				me.svg.append("text")
				   .attr("transform", "translate(" + me.width/2.5 + "," + -8 + ")")
				    .style("text-anchor", "middle")
				    .text(function(d) { return d; });

				// Add the months for each year
				for (index = 0; index < me.months.length; index++) { 
				  me.svg.append("text")
				      .attr("transform", "translate( -8 , " + me.cell * 4.3 * (index + 0.7) + ")rotate(-90)")
				      .style("text-anchor", "middle")
				      .text(function(d,i) { return me.months[index]; }); 
				}
			},

			drawCalendar: function() {
				var me = this;
				
				// Define the days
				me.rect = this.svg.selectAll(".day")
				    .data(function (d) {  
				    	return d3.time.days(new Date(d, 0, 1), new Date(d + 1, 0, 1)); 
				    })
				    .enter().append("rect")
				    .attr("class", "day")
				    .attr("width", me.cell)
				    .attr("height", me.cell)
				    .attr("y", function (d) { 
				    	return me.week(d) * me.cell; 
				    })
				    .attr("x", function (d) { 
				    	return me.day(d) * me.cell; 
				    })
				    .datum(me.format);

				me.rect.append("title").text(function (d) { 
					return d; 
				});

				me.svg.selectAll(".month")
				    .data(function (d) {  
				    	return d3.time.months(new Date(d, 0, 1), new Date(d + 1, 0, 1));
					})
				    .enter().append("path")
				    .attr("class", "month")
				    .attr("d", monthPath);

				function monthPath(t0) {
				    var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
				        d0 = +me.day(t0),
				        w0 = +me.week(t0),
				        d1 = +me.day(t1),
				        w1 = +me.week(t1);
				    return "M" + d0 * me.cell + "," + (w0) * me.cell + "H" + 7 * me.cell + "V" + (w1) * me.cell + "H" + (d1 + 1) * me.cell + "V" + (w1 + 1) * me.cell + "H" + 0 + "V" + (w0 + 1) * me.cell + "H" + d0 * me.cell + "Z";
				}

			},

			fillCalendar: function(data) {
				var me = this;

				me.rect.filter(function (d) { return d in data; })
						.style("fill", function(d) { return  me.color(data[d].value)  })
						.attr("id", function(d) { return data[d].id })	    
					    .select("title")
					    .text(function (d) { return d + ": " + data[d].value; })
				me.rect.on('mouseover', function(d) {
							me.selected = [data[d].id];
						})
						.on('mouseout', function(d) {
							me.selected = [];
						});

			},
            
            addLegend: function() {
                var me = this;
                
                var legendFrame = d3.select(me.$.legend)
                  .append("g")
                  .attr("height", me.height)
                  .attr("width", me.cell)
                  .attr("transform", "translate(15, 15)"); 

                var legendElement = legendFrame.selectAll(".legend")
                    .data(me.domain.ticks(5))
                    .enter()
                
                legendElement.append("rect")
                    .attr("x", 0)
                    .attr("y", function(d,i) {return i *me.cell})
                    .attr("width", me.cell)
                    .attr("height", me.cell)
                    .attr("class", "legend")
                    .style("fill", me.color);
                
                legendElement.append("text")
                    .attr("x", me.cell + 5 )
                    .attr("y", function(d,i) {return (i *me.cell) + me.cell/2 })
                    .attr("dy", ".35em")
                    .text(function(d) {return d});
                
                legendFrame.append("text")
                    .attr("transform", "translate( -8 , " + me.cell * 2 + ")rotate(-90)")
                    .text("Legend");
                    
            },

			dataChanged: function () {

				var me = this;

				// Define the color for every day
				me.min = d3.min(me.data, function(d) { console.log(); return parseFloat(d.data[me.values]); });
    			me.max = d3.max(me.data, function(d) { console.log(); return parseFloat(d.data[me.values]); });
				me.domain = d3.scale.linear().domain([me.min, (me.max + me.min)/2, me.max]);
                me.color = me.domain.range([me.colorLow, me.colorMed, me.colorHigh]); 

				var plotData = d3.nest()
						.key( function (d) { return d.data[me.date]; })
						.rollup(function (d) { return {value: d[0].data[me.values], id: d[0].id}; })
						.map(me.data);

				me.fillCalendar(plotData);
                me.addLegend();
			}

		})
	</script>
</polymer-element>