<!--
Use:
<polimero-smallmultiples
	type="polimero-scatterplot"
	dimensions='["sepalLength","sepalWidth","petalLength","petalWidth"]'
	data="{{data}}"
	selected="{{selected}}"></polimero-smallmultiples>
<polimero-smallmultiples
	type="polimero-histogram"
	dimensions='["sepalLength","sepalWidth","petalLength","petalWidth"]'
	binSize=0.5
	data="{{data}}"
	selected="{{selected}}"></polimero-smallmultiples>
-->
<polymer-element name="polimero-smallmultiples" attributes="dimensions binSize data selected options type">
	<template>
		<!-- SCATTERPLOT
		    This is a scatterplot matrix: the same dimensions appear as rows and as columns-->
		
		<template if="{{type == 'polimero-scatterplot'}}">
			<template repeat="{{ dim1 in dimensions }}">
				<br/>
				<!-- "{{dimensions.length}}" -->
				<template repeat="{{ dim2 in dimensions }}">
		  			<polimero-scatterplot xValues="{{dim1}}" yValues="{{dim2}}" data="{{data}}" selected="{{selected}}" options='{"width":200, "height":200}'></polimero-scatterplot>
				</template>
			</template>
		</template>

		<!-- BARCHART -->
		<template if="{{type == 'polimero-barchart'}}">
			<template repeat="{{ dim in dimensions }}">
	  			<polimero-barchart column="{{dim}}" data="{{data}}" selected="{{selected}}" options='{"width":300, "height":200}'></polimero-scatterplot>
			</template>
		</template>

		<!-- HISTOGRAM -->
		<template if="{{type == 'polimero-histogram'}}">
			<template repeat="{{ dim in dimensions }}">
	  			<polimero-histogram column="{{dim}}" binSize="{{binSize}}" data="{{data}}" selected="{{selected}}" options='{"width":300, "height":200}'></polimero-histogram>
			</template>
		</template>

	</template>
	<script>
		Polymer('polimero-smallmultiples', {
			ready: function() {
				this.data = this.data || []

				// Parsing the 'options' string from HTML element arguments
				this.options = this.options || '{}'
				this.opts = JSON.parse(this.options)
				this.width = this.opts['width'] || 800
				this.height = this.opts['height'] || 800

				this.dimensions = JSON.parse(this.dimensions)

				this.element_width = this.width/this.dimensions.length
				this.element_height = this.height/this.dimensions.length

				this.xAxis = this.opts['xaxis'] || true
				this.yAxis = this.opts['yaxis'] || true
				if ( this.xAxis ) {
					this.yPadding = 30
				} else {
					this.yPadding = 0
				}
				if ( this.yAxis ) {
					this.xPadding = 30
				} else {
					this.xPadding = 0
				}

				// And we set the dimensions of the svg
				this.svg = d3.select(this.$.svg).attr({width: this.width, height: this.height})

			},

		})
	</script>
</polymer-element>	
