<polymer-element name="polimero-plot" attributes="data selected">
	<template>
    <style>
		circle {
			stroke: rgba(0,0,0,0.5);
			stroke-width: 1;			
		}
		
		rect {
			stroke: none;
		}
		
		path {
			fill: none;
			stroke: rgba(0,0,0,0.2);
			stroke-width: 1;
		}

		.mark {
			fill: rgba(0,0,0,0.2);
			stroke-width: 1;
		}

		.mark .selected {
			fill: red;
			opacity: 1;
		}

		.axis path {
			fill:none;
			stroke: black;
		}

		.axis {
			font-size:8pt;
			font-family:sans-serif;
		}

		.tick {
			fill: black;
		}
		
		.brush .extent {
			fill-opacity: .1;
			stroke: #fff;
			shape-rendering: crispEdges;
		}

		.unselectable {
			-moz-user-select: -moz-none;
			-khtml-user-select: none;
			-webkit-user-select: none;
		}
		table {
			border-collapse: collapse;
			font: 10px sans-serif;
			width: 720px;
		}

		th {
			font-weight: normal;
			text-align: right;
			padding-right: 6px;
			min-width: 43px;
		}

		thead td {
			cursor: s-resize;
		}

		tbody tr:first-child td {
			padding-top: 2px;
		}

		tbody td {
			padding: 0;
			border-left: solid 1px #000;
		}

		tbody rect {
			fill: steelblue;
		}

		tbody rect .selected {
			fill: brown;
		}

		tbody tr:hover rect {
			fill: brown;
		}
    </style>
		<svg id="svg"></svg>
	</template>
	<script>
	Polymer('polimero-plot', {
		ready: function() {
			this.data = this.data || []

			// Parsing the 'options' string from HTML element arguments
			this.options = this.options || '{}'
			this.opts = JSON.parse(this.options)
			this.width = this.opts['width'] || 400
			this.height = this.opts['height'] || 400

			this.xAxis = this.opts['xaxis'] || false
			this.yAxis = this.opts['yaxis'] || false
			if ( this.xAxis ) {
				this.yPadding = 30
			} else {
				this.yPadding = 0
			}
			if ( this.yAxis ) {
				this.xPadding = 60
			} else {
				this.xPadding = 0
			}
		},
		
		selectedChanged: function(oldVal, newVal) {
			var me = this
			if ( oldVal != null ) {
				if ( newVal.length > 0 ) {
					oldVal.forEach(function(d) {
						me.svg.select('#' + d).classed('selected',false)
					})
					newVal.forEach(function(d) {
						me.svg.select('#' + d).classed('selected',true)
					})
				} else {
					me.svg.selectAll(".selected").classed('selected',false)
				}
			}
		},

	})
	</script>
</polymer-element>