<polymer-element name="polimero-parcoords" extends="polimero-plot" attributes="dimensions data selected options">
	<template>
    <style>
			:host::shadow .mark {
				fill: none;
				stroke: rgba(0,0,0,0.2);
				stroke-width: 1;
      }
			:host::shadow .mark .selected {
				fill: none;
				stroke: rgba(255,0,0,0.5);
				stroke-width: 3;
			}
    </style>
		<shadow></shadow>
	</template>
	<script>
	Polymer('polimero-parcoords', {
		// We set some defaults here
		// Use this in html: <scatter-plot options='{"width": 200, "xaxis": true}'></scatter-plot>
		// ATTENTION: - the complete options string has to be in SINGLE quotes
		//            - the keys have to be in DOUBLE quotes
		ready: function() {
			this.super()

			// Set the parcoords-specific options
			this.yAxis = this.opts['yaxis']
			if ( this.yAxis == undefined ) { this.yAxis = true }
			if ( this.yAxis ) {
				this.xPadding = 30
				this.yPadding = 30
			} else {
				this.xPadding = 0
				this.yPadding = 0
			}
			this.interpolate = this.opts['interpolate'] || 'linear'
			
			this.dimensions = JSON.parse(this.dimensions)
			
			// And we set the dimensions of the svg
			this.svg = d3.select(this.$.svg).attr({width: this.width, height: this.height})
		},

		drawAxes: function() {
			var me = this;
			if ( this.yAxis ) {
				var yAxes = {}
				for ( var dimNum in me.dimensions ) {
					yAxes[dimNum] = d3.svg.axis().scale(me.yScales[dimNum]).orient("left")
					me.svg.append('g')
						.attr("class","y axis")
						.attr("transform", "translate(" + me.xScale(dimNum) + ",0)")
						.call(yAxes[dimNum])
					me.svg.append('text')
						.attr({
							x: me.xScale(dimNum),
							y: 20,
						})
						.text(function(d) { return me.dimensions[dimNum] })
							.attr({
								"font-family": "sans-serif",
								"font-size": "14px",
								"text-anchor": "middle"
							})
				}
			}
		},

		calculateScales: function(data) {
			// xScale will just be based on the number of dimensions to show
			// yScale has to be a hash containing the yScale for each separate dimension
			var me = this
			if ( me.yAxis ) {
				me.xMin = me.xPadding
				me.xMax = me.width - me.xPadding
				me.yMin = me.yPadding
			} else {
				me.xMin = 0
				me.xMax = me.width
				me.yMin = 0
			}
			
			// xScaleOrdinal converts dimension name to numbers 0,1,2,...
			// xScale converts these numbers to actual pixels
			var xScaleOrdinal = d3.scale.ordinal()
										.domain(me.dimensions)
										.range(Array.apply(null, Array(me.dimensions.length)).map(function (_, i) {return i;}))
			me.xScale = d3.scale.linear()
										.domain([d3.min(xScaleOrdinal.range()),d3.max(xScaleOrdinal.range())])
										.range([me.xMin, me.xMax])
			
			me.yScales = {}
			for ( var dimNum in me.dimensions ) {
				me.yScales[dimNum] = d3.scale.linear()
											.domain([d3.min(data.map(function(d) { return d['data'][me.dimensions[dimNum]]})), d3.max(data.map(function(d) { return d['data'][me.dimensions[dimNum]]}))])
											.range([me.height, me.yMin])
			}
		},
		
		convertDomainToPlot: function(data) {
			var me = this
			
			// plotData will be an array:
			// [{'x':1,'y':3},{'x':2,'y':5},{'x':5,'y':2}]
			var points = []
			var dataValues = data['data']
			for ( var dimNum in me.dimensions ) {
				points.push({x:me.xScale(dimNum), y:me.yScales[dimNum](dataValues[me.dimensions[dimNum]])})
			}
			return points
		},
		
		drawData: function(data) {
			var me = this

			var lineFunction = d3.svg.line()
				.x(function(d) { return d.x })
				.y(function(d) { return d.y })
				.interpolate(this.interpolate)
			var mark = me.svg.append("g")
				.attr('class','mark')
				.selectAll("path")
				.data(data)
				.enter()
				.append('path')
				.attr({
					d: function(e) { return lineFunction(me.convertDomainToPlot(e)) },
					class: 'path',
					id: function(d) { return d.id }
				})
				.on('mouseover', function(d) {
					me.selected = [d.id]
				})
				.on('mouseout', function(d) {
					me.selected = []
				})
				.append("svg:title")
					    	.text(function(d) { return JSON.stringify(d['data']) })
		},

		dataChanged: function() {
			var me = this
            
            if (me.data.length > 0) {
                me.calculateScales(me.data)
                me.drawData(me.data)
                me.drawAxes(me.data)
            }
		}
	})
	</script>
</polymer-element>