<polymer-element name="polimero-multiscale" extends="polimero-plot" attributes="column data selected options">
	<template>
	  <shadow></shadow>
	</template>
	<script>
		Polymer('polimero-multiscale', {
			// We set some defaults here
			// Use this in html: <bar-multiscale options='{"width": 200}'></bar-multiscale>
			// ATTENTION: - the complete options string has to be in SINGLE quotes
			//            - the keys have to be in DOUBLE quotes
			ready: function() {
				this.super()
				
				this.minResolution = this.opts['min_resolution'] || 1
				this.maxResolution = this.opts['max_resolution'] || 100
				this.stepResolution = this.opts['step_resolution'] || 3
				
				// And we set the dimensions of the svg
				this.svg = d3.select(this.$.svg).attr({width: this.width, height: this.height})
				this.svg.append("rect").attr({"width":this.width,"height":this.height}).style({"stroke":"grey","fill":"none"})
				
			},
			
			drawData: function(data) {
				var me = this
				
				resolutions = d3.range(me.minResolution,me.maxResolution,me.stepResolution)
				binnedData = {}
				minCount = {}
				maxCount = {}
				greyScale = {}
				colorScale = {}
				
				resolutions.map(function(res) {
					values = data.map(function(d) { return d.value })
					binnedData[res] = data.map(function(d,i) { return values.slice(i-res,i+res) })
										.map(function(d,i) { return {value: i, count: d3.sum(d) }})
										.filter(function(d,i) { return res < i && i < (data.length-res) })
					minCount[res] = Math.min.apply(null, binnedData[res].map(function(d) { return d.count }))
					maxCount[res] = Math.max.apply(null, binnedData[res].map(function(d) { return d.count }))
					greyScale[res] = d3.scale.linear().domain([0,maxCount[res]]).range([0,1])
					colorScale[res] = d3.scale.linear().domain([0,maxCount[res]]).range([60,360])
				})
				
				resolutions.map(function(resolution, resolution_index) {
					me.svg.append("g")
						.attr('class','mark')
						.selectAll("rect.res_" + resolution.toString())
						.data(binnedData[resolution])
						.enter()
						.append("rect")
						.attr({
							x: function(x) { return x.value },
							y: function() { return resolution_index*10 },
							width: 1,
							height: 9.9,
							classed: 'res_' + resolution
						})
						.style({
							fill: function(x) { return d3.hsl(colorScale[resolution](x.count),0.5,0.5)},
							stroke: 'none'
						})
						// .append("svg:title")
						// 	.text(function(d,i) { return "x:" + d.value + ' count:' + d.count + ' opacity:' + colorScale[resolution](d.count) + ' res:' + resolution } )
						
				})
				// var mark = me.svg.append("g")
				// 	.attr('class','mark')
				// 	.selectAll("circle")
				// 	.data(data)
				// 	.enter()
				// 	.append("circle")
				// 	.attr({
				// 		cx: function(d,i) { return i },
				// 		cy: function(d) { return 100-d.value },
				// 		r: 1,
				// 		class: 'circle',
				// 		id: function(d) { return d.id } // We'll use this to select the object on mouseover
				// 	}).style({
				// 		stroke: "none",
				// 		fill: "grey"
				// 	})
				// 	.append("svg:title")
				// 		.text(function(d,i) { return i + ' -> ' + d.value })
					
				me.svg.append("text").attr({"x":10,"y":20, "font-family":"sans-serif", "font-size":"14px"})
					.style({"fill":"black"}).attr({"class":"unselectable"}).text(me.column)
				
			},
			
			dataChanged: function() {
				var me = this
				
				// This is the important part: we convert the input data into the exact data we
				// want to plot. Necessary columns: id, x, and y.
				var plotData = me.data.map(function(d,i) { return {'id': d.id, 'value': d.data[me.column] }})
                
                if (plotData.length > 0) {
                    // me.calculateScales(plotData)
					me.drawData(plotData)
                    // me.drawAxes(plotData)
                }
			}
		})
	</script>
</polymer-element>