<!--
	Usage:
  <scatter-plot xValues="sepalLength" yValues="sepalWidth" data="data/data.csv" selected="{{selected}}"/>
 -->
<polymer-element name="polimero-nodelink" extends="polimero-plot" attributes="data options">
	<template>
		<shadow></shadow>
	</template>
	<script>
		Polymer('polimero-nodelink', {
			// We set some defaults here
			// Use this in html: <scatter-plot options='{"width": 200, "xaxis": true}'></scatter-plot>
			// ATTENTION: - the complete options string has to be in SINGLE quotes
			//            - the keys have to be in DOUBLE quotes
			ready: function() {
				this.super()

				// And we set the dimensions of the svg
				this.svg = d3.select(this.$.svg).attr({
					width: this.width,
					height: this.height
				}).attr({
					"class": "unselectable"
				})
				this.svg.append("rect").attr({
					"width": this.width,
					"height": this.height
				}).style({
					"stroke": "grey",
					"fill": "none"
				}).attr({
					"class": "unselectable"
				})
			},

			drawData: function(data) {
				var me = this

				var force = d3.layout.force()
					.charge(-120)
					.linkDistance(30)
					.size([me.width, me.height]);

				force
					.nodes(data.nodes)
					.links(data.links)
					.start();

				var link_mark = me.svg.selectAll(".link")
					.data(data.links)
					.enter().append("line")
					.attr("class", "link mark")
					.style({
						"stroke-width": 1,
						"stroke": 'black'
					})

				var node_mark = me.svg.selectAll(".node")
					.data(data.nodes)
					.enter().append("circle")
					.attr("class", "node mark")
					.attr("r", 10)
					.style("fill", "red")
					.call(force.drag);

				force.on("tick", function() {
					link_mark.attr("x1", function(d) {
							return d.source.x;
						})
						.attr("y1", function(d) {
							return d.source.y;
						})
						.attr("x2", function(d) {
							return d.target.x;
						})
						.attr("y2", function(d) {
							return d.target.y;
						});

					node_mark.attr("cx", function(d) {
							return d.x;
						})
						.attr("cy", function(d) {
							return d.y;
						});
				});
			},

			dataChanged: function() {
				var me = this

				var plotData = me.data

				if (plotData.hasOwnProperty("nodes") && plotData.hasOwnProperty("links")) {
					// console.log("In dataChanged: " + JSON.stringify(plotData.links))
					// me.calculateScales(plotData)
					me.drawData(plotData)
						// me.drawAxes(plotData)
				}
			}
		})
	</script>
</polymer-element>
