<!--
nodes file:
  csv with header, including "id" column
  e.g.
  id  name  gender
  1   Tom   m
  2   Tim   m
  3   Tina  f

edges file:
  csv with header, including "source" and "target"
  e.g.
  source  target  weight
  1       2       0.4
  1       3       0.5
  2       3       0.8
-->
<polymer-element name="polimero-data-graph" attributes="url data">
	<script>
		Polymer('polimero-data-graph', {
			ready: function() {
				var me = this

				d3.json(me.url, function(data) {
					me.data = data
				})
				return me.data

				// me.selected = []
				// me.data = {"nodes": [], "links": []}
				//
				// d3.tsv(me.urlnodes, function(node_lines) {
				// 	node_lines.forEach(function(d,i) {
				// 		var node = {}
				// 		node['id'] = 'polimero_id_' + d.id
				// 		node['data'] = d
				// 		me.data.nodes.push(node)
				// 		// console.log("A node: " + JSON.stringify(node))∫
				// 	})
				// 	console.log("In loading file: " + JSON.stringify(me.data))
				// })
				// d3.tsv(me.urledges, function(edge_lines) {
				// 	edge_lines.forEach(function(d,i) {
				// 		var edge = {}
				// 		edge['id'] = 'polimero_id_' + d.source + '_' + d.target
				// 		edge['source'] = +d.source
				// 		edge['target'] = +d.target
				// 		edge['data'] = d
				// 		me.data.links.push(edge)
				// 		// console.log("An edge: " + JSON.stringify(edge))
				// 	})
				// 	console.log("In loading file: " + JSON.stringify(me.data))
				//
				// })
			}
		})
	</script>
</polymer-element>
