<!--
	Usage:
  <polimero-radviz dimensions='["sepalLength","petalLength","sepalWidth","petalWidth"]' data="{{data}}" selected="{{selected}}"/>
 -->
<polymer-element name="polimero-radviz" extends="polimero-plot" attributes="dimensions data selected options">
	<template>
		<style>
			:host::shadow .axes {
				fill: none;
			}
		</style>
		<shadow></shadow>
	</template>
	<script>
	Polymer('polimero-radviz', {
		// We set some defaults here
		// Use this in html: <scatter-plot options='{"width": 200, "xaxis": true}'></scatter-plot>
		// ATTENTION: - the complete options string has to be in SINGLE quotes
		//            - the keys have to be in DOUBLE quotes
		ready: function() {
			this.super()

			this.xPadding = 30
			this.yPadding = 30
			
			// Set the radviz-specific options
			this.radius = Math.min(this.width - 2*this.xPadding,this.height - 2*this.yPadding)/2
			this.centerX = this.width/2
			this.centerY = this.height/2
			
			this.axesDrawn = false
			
			this.dimensions = JSON.parse(this.dimensions)
			
			// And we set the dimensions of the svg
			this.svg = d3.select(this.$.svg).attr({width: this.width, height: this.height})
		},
		
		drawAxes: function() {
			var me = this;
			
			if ( ! me.axesDrawn ) {
				// Draw the circle
				me.svg.append("circle")
					.attr({
						cx: me.centerX,
						cy: me.centerY,
						r: me.radius,
						class: 'axes'
					})
				// Draw the dimensions
				var dimCount = me.dimensions.length
				var radBetweenDims = (2*Math.PI)/dimCount
				me.dimensionPositions = {}
				me.dimensions.forEach(function(d,i) {
					var theta = 0 + i*radBetweenDims
					var x = me.radius*Math.cos(theta)
					var y = me.radius*Math.sin(theta)
					me.dimensionPositions[d] = {x: me.centerY + x, y: me.centerY + y}
					me.svg.append("circle")
						.attr({
							cx: me.dimensionPositions[d].x,
							cy: me.dimensionPositions[d].y,
							r: 5,
							class: 'dim',
						})
						.append("svg:title")
				    	.text(d)
				})
				
				me.axesDrawn = true
			}
		},
		
		calculateScales: function(data) {
			var me = this
			me.yScales = {}
			for ( var dimNum in me.dimensions ) {
				me.yScales[dimNum] = d3.scale.linear()
											.domain([d3.min(data.map(function(d) { return d['data'][me.dimensions[dimNum]]})), d3.max(data.map(function(d) { return d['data'][me.dimensions[dimNum]]}))])
											.range([0, 1])
			}
		},
		
		calculateX: function(datapoint) {
			var me = this
			var totalAttractorForce = 0
			me.dimensions.forEach(function(dim,i) {
				totalAttractorForce = totalAttractorForce + me.yScales[i](datapoint[dim])
			})
			
			var countingX = 0
			me.dimensions.forEach(function(dim,i) {
				countingX = countingX + me.yScales[i](datapoint[dim])*me.dimensionPositions[dim].x
			})
			return countingX/totalAttractorForce
		},
		
		calculateY: function(datapoint) {
			var me = this
			var totalAttractorForce = 0
			me.dimensions.forEach(function(dim,i) {
				totalAttractorForce = totalAttractorForce + me.yScales[i](datapoint[dim])
			})
			
			var countingY = 0
			me.dimensions.forEach(function(dim,i) {
				countingY = countingY + me.yScales[i](datapoint[dim])*me.dimensionPositions[dim].y
			})
			return countingY/totalAttractorForce
		},

		drawData: function(data) {
			var me = this

			var mark = me.svg.append("g")
				.attr('class','mark')
				.selectAll("circle")
				.data(data)
				.enter()
				.append('circle')
				.attr({
					cx: function(d) { return d.data.x },
					cy: function(d) { return d.data.y },
					r: 3,
					class: 'circle',
					id: function(d) { return d.id }
				})
			me.svg.append("g")
				.attr("class", "brush")
				.call(d3.svg.brush()
					.x(d3.scale.identity().domain([0, me.width])) // TODO: we set x using calculateX
					.y(d3.scale.identity().domain([0, me.height])) // TODO: we set y using calculateY
					.on("brush", function() {
						var extent = d3.event.target.extent();
						mark.classed('brushed', function(d) {
							return extent[0][0] <= d.data.x && d.data.x <= extent[1][0]
									&& extent[0][1] <= d.data.y && d.data.y <= extent[1][1]
						})
						me.svg.selectAll('.brushed').forEach(function(d) {
							me.selected = d.map(function(el) { return el.id })
						})
					}));
		},

		dataChanged: function() {
			var me = this
			
			me.calculateScales(me.data)
			var plotData = me.data
			for ( var i = 0; i < plotData.length; i++ ) {
				plotData[i].data['x'] = me.calculateX(plotData[i].data)
				plotData[i].data['y'] = me.calculateY(plotData[i].data)
			}
            
            if (plotData.length > 0) {
                me.drawData(plotData)
                me.drawAxes()
            }
		}
	})
	</script>
</polymer-element>