<polymer-element name="polimero-histogram" extends="polimero-barchart" attributes="binSize selected">
	<template>
		<shadow></shadow>
	</template>
	<script>
		Polymer('polimero-histogram', {
			drawData: function(data) {
				this.svg.append("text").attr({"x":10,"y":20, "font-family":"sans-serif", "font-size":"14px"})
					.style({"fill":"black"}).attr({"class":"unselectable"}).text(this.column)
				
				var me = this
				var mark = me.svg.append("g")
					.attr('class','mark')
					.selectAll("rect")
					.data(data)
					.enter()
					.append('rect')
					.attr({
						x: function(d) { return me.xScale(d.data.x)-me.barWidth/2 },
						y: function(d) { return me.yScale(d.data.y) },
						width: me.barWidth,
						height: function(d) { return me.yMax - me.yScale(d.data.y) },
						class: 'bar',
						id: function(d) { return d.id } // We'll use this to select the object on mouseover
					})
				me.svg.append("g")
					.attr("class", "brush")
					.call(d3.svg.brush()
						.x(me.xScale)
						.y(me.yScale)
						.on("brush", function() {
							var extent = d3.event.target.extent();
							mark.classed('brushed', function(d) {
								return extent[0][0] <= d.data.x && d.data.x <= extent[1][0]
							})
							me.svg.selectAll('.brushed').forEach(function(d) {
								var s = d.map(function(el) { return el.id })
								d.forEach(function(el) {
									for ( var i in me.histIdToConstituentIds[el.id] ) {
										var id = me.histIdToConstituentIds[el.id][i]
										s.push(id)
									}
								})
								me.selected = s
							})
						}))

			},
			
			dataChanged: function() {
				var me = this

				// This is the important part: we convert the input data into the exact data we
				// want to plot. Necessary columns: id, x, and y.
				// Key = bin; value = object
				//  { 'id':'polimero_bin_id_0', data: {x: 1, y: 5, id: hist_0}, 1: ...}
				var tmpPlotData = {}
				for ( var i = 0; i < me.data.length; i++ ) {
					var bin = Math.ceil(me.data[i]['data'][me.column]/me.binSize)*me.binSize
					var binObject = tmpPlotData[bin] || {'id': 'polimero_hist_' + String(bin).replace('.','_'), 'data':{'ids':[], 'x': bin, 'y': 0}}
					binObject.data.y = binObject.data.y + 1
					binObject.data.ids.push(me.data[i].id)
					tmpPlotData[bin] = binObject
				}

				me.histIdToConstituentIds = {}
				var plotData = []
				for ( key in tmpPlotData ) {
					plotData.push(tmpPlotData[key])
					me.histIdToConstituentIds[tmpPlotData[key].id] = tmpPlotData[key].data.ids
				}
                
                if (plotData.length > 0) {
                    me.calculateScales(plotData)
                    me.drawData(plotData)
                    me.drawAxes(plotData)
                }
			}
			
		})
	</script>
</polymer-element>