<polymer-element name="polimero-barchart" extends="polimero-plot" attributes="column data selected options">
	<template>
	  <shadow></shadow>
	</template>
	<script>
		Polymer('polimero-barchart', {
			// We set some defaults here
			// Use this in html: <bar-chart options='{"width": 200, "xaxis": true}'></bar-chart>
			// ATTENTION: - the complete options string has to be in SINGLE quotes
			//            - the keys have to be in DOUBLE quotes
			ready: function() {
				this.super()
				
				// Set the barchart-specific options
				this.startAtZero = this.opts['startatzero'] || false

				// And we set the dimensions of the svg
				this.svg = d3.select(this.$.svg).attr({width: this.width, height: this.height})
				this.svg.append("rect").attr({"width":this.width,"height":this.height}).style({"stroke":"grey","fill":"none"})
				
			},

			// selectedChanged: function(oldVal, newVal) {
			// 	var me = this
			// 	if ( newVal.length > 0 ) {
			// 		oldVal.forEach(function(d) {
			// 			me.svg.select('#' + d).classed('selected',false)
			// 		})
			// 		newVal.forEach(function(d) {
			// 			me.svg.select('#' + d).classed('selected',true)
			// 		})
			// 	} else {
			// 		me.svg.selectAll(".selected").classed('selected',false)
			// 	}
			// },
			
			drawAxes: function(data) {
				var me = this;
				if ( this.xAxis ) {
					var xAxis = d3.svg.axis().scale(me.xScale)
					me.svg.append('g')
						.attr("class", "x axis")
						.attr("transform", "translate(0," + (me.height - me.yPadding) + ")")
						.call(xAxis)
				}
				if ( this.yAxis ) {
					var yAxis = d3.svg.axis().scale(me.yScale).orient("left")
					me.svg.append('g')
						.attr("class", "y axis")
						.attr("transform", "translate(" + me.xPadding + ",0)")
						.call(yAxis)
				}
			},
			
			calculateScales: function(data) {
				var me = this
				if ( me.yAxis ) {
					me.xMin = me.xPadding
				} else {
					me.xMin = 0
				}
				
				me.xScale = d3.scale.linear()
											.domain([d3.min(data, function(d) { return d.data.x}), d3.max(data, function(d) { return d.data.x})])
											.range([me.xMin, this.width])
				me.barWidth = me.width/data.length
				if ( me.barWidth > 2 ) { // Add white space between bars if possible
					me.barWidth = me.barWidth - 1
				}
				if ( me.xAxis ) {
					me.yMax = me.height - me.yPadding
				} else {
					me.yMax = me.height
				}
				var minValue
				if ( me.startAtZero ) {
					minValue = 0
				} else {
					minValue = d3.min(data, function(d) { return d.data.y})
				}
				me.yScale = d3.scale.linear()
											.domain([minValue, d3.max(data, function(d) { return d.data.y})])
											.range([me.yMax, 0])
			},
			
			drawData: function(data) {
				this.svg.append("text").attr({"x":10,"y":20, "font-family":"sans-serif", "font-size":"14px"})
					.style({"fill":"black"}).attr({"class":"unselectable"}).text(this.column)
				
				var me = this

				me.svg.append("g")
					.attr("class", "brush")
					.call(d3.svg.brush()
						.x(me.xScale)
						.y(me.yScale)
						.on("brush", function() {
							var extent = d3.event.target.extent();
							mark.classed('brushed', function(d) {
								return extent[0][0] <= d.data.x && d.data.x <= extent[1][0]
							})
							me.svg.selectAll('.brushed').forEach(function(d) {
								me.selected = d.map(function(el) { return el.id })
							})
						}))

				var mark = me.svg.append("g")
					.attr('class','mark')
					.selectAll("rect")
					.data(data)
					.enter()
					.append('rect')
					.attr({
						x: function(d) { return me.xScale(d.data.x) },
						y: function(d) { return me.yScale(d.data.y) },
						width: me.barWidth,
						height: function(d) { return me.yMax - me.yScale(d.data.y) },
						class: 'bar',
						id: function(d) { return d.id } // We'll use this to select the object on mouseover
					})
				mark.append("svg:title")
					.text(function(d) { return d.id })
			},
			
			dataChanged: function() {
				var me = this
				
				// This is the important part: we convert the input data into the exact data we
				// want to plot. Necessary columns: id, x, and y.
				var plotData = me.data.map(function(d,i) { return {'id': d.id, 'data':{'x': i, 'y':d.data[me.column]}}})
                
                if (plotData.length > 0) {
                    me.calculateScales(plotData)
                    me.drawData(plotData)
                    me.drawAxes(plotData)
                }
			}
		})
	</script>
</polymer-element>