
<!--

Usage: 	

<polimero-heatmap xValues="xValues" yValues="yValues" zValues="petalWidth" data="{{data}}" options='{"width":300, "height":300, "xaxis":true, "yaxis":true, "margin":10, "colorLow":"green", "colorMed":"yellow", "colorHigh":"red"}' data="{{data}}" selected="{{selected}}"></polimero-heatmap>

-->


<polymer-element name="polimero-heatmap" extends="polimero-plot" attributes="data xValues yValues zValues options selected">
	<template>
		<shadow></shadow>
	</template>
	<script>
		Polymer('polimero-heatmap', {

			// ATTENTION: - the complete options string has to be in SINGLE quotes
			//            - the keys have to be in DOUBLE quotes
			ready: function() {
				this.super()
				
				this.margin = this.opts['margin'] || 10

				this.xAxis = this.opts['xaxis'] || false
				this.yAxis = this.opts['yaxis'] || false
				if ( this.xAxis ) {
					this.yPadding = 30
				} else {
					this.yPadding = this.margin
				}
				if ( this.yAxis ) {
					this.xPadding = 30
				} else {
					this.xPadding = this.margin
				}

				// List of colors to represent the three leves (Low, Medium, High)
				this.colorLow = this.opts['colorLow'] || 'green';
				this.colorMed = this.opts['colorMed'] || 'yellow';
				this.colorHigh = this.opts['colorHigh'] || 'red';

				// And we set the dimensions of the svg		
				this.width =  this.width - this.xPadding;
				this.height = this.height - this.yPadding;
				this.svg = d3.select(this.$.svg)
					.attr({
						width: this.width + this.yPadding + this.margin, 
						height: this.height + this.xPadding + this.margin    
					})
					.append('g')
					.attr("transform", "translate(" + this.yPadding + ", " + this.margin + ")");
			},

			drawAxes: function(data) {
				var me = this;

				if ( me.xAxis ) {
					// Call X Axis
    				me.svg.append("g")
      					.attr("class", "x axis")
      					.attr("transform", "translate(0," + me.height + ")")
      					.call(d3.svg.axis().scale(me.xScale).orient("bottom").ticks(me.xMax));
				}
				if ( me.yAxis ) {
					// Call Y Axis
	    			me.svg.append("g")
	      				.attr("class", "y axis")
	      				.call(d3.svg.axis().scale(me.yScale).orient("left").ticks(me.yMax));
      			}

			},

			calculateScales: function(data) {
				var me = this;

				// Compute the Min Max for each variable to define the scales
				me.xMin = d3.min(data, function(d) { return parseInt(d.data.x); });
    			me.xMax = d3.max(data, function(d) { return parseInt(d.data.x); });
    			me.yMin = d3.min(data, function(d) { return parseInt(d.data.y); });
    			me.yMax = d3.max(data, function(d) { return parseInt(d.data.y); });
    			me.zMin = d3.min(data, function(d) { return parseInt(d.data.z); });
    			me.zMax = d3.max(data, function(d) { return parseInt(d.data.z); });

    			me.xScale = d3.scale.linear().domain([me.xMin, me.xMax]).range([0, me.width]);
    			me.yScale = d3.scale.linear().domain([me.yMin, me.yMax]).range([0, me.height]);
				me.zScale = d3.scale.linear().domain([me.zMin, (me.zMax + me.zMin)/2, me.zMax])
						.range([me.colorLow, me.colorMed, me.colorHigh]);	
			},

			drawData: function(data) {
				var me = this;

				// Define the width and height of each value in the heatmap
				me.xSize = me.width / (me.xMax + 1),
				me.ySize = me.height / (me.yMax + 1);


				var mark = me.svg.append("g")
					.attr('class','mark')
					.selectAll(".heatmap")
					.data(data, function(d) { return d.data.y + ':' + d.data.x; })
					.enter()
					.append('rect')
					.attr({
						x: function(d) { return d.data.x * me.xSize; },
						y: function(d) { return d.data.y * me.ySize; },
						width: me.xSize,
						height: me.ySize,
						id: function(d) { return d.id } // We'll use this to select the object on mouseover
					})
  				.style("fill", function(d) { return me.zScale(d.data.z); })
  				.style("stroke", "black")
				me.svg.append("g")
					.attr("class", "brush")
					.call(d3.svg.brush()
						.x(me.xScale)
						.y(me.yScale)
						.on("brush", function() {
							var extent = d3.event.target.extent();
							mark.classed('brushed', function(d) {
								return extent[0][0] <= d.data.x && d.data.x <= extent[1][0]
										&& extent[0][1] <= d.data.y && d.data.y <= extent[1][1]
							})
							me.svg.selectAll('.brushed').forEach(function(d) {
								me.selected = d.map(function(el) { return el.id })
							})
						}));

			},
			
			dataChanged: function() {

				var me = this;
				// This is the important part: we convert the input data into the exact data we
				// want to plot. Necessary columns: id, x, and y.
				var plotData = me.data.map(function(d,i) {
					return {
						'id': d.id, 
						'data':{
							'x': d.data[me.xValues], 
							'y': d.data[me.yValues], 
							'z': d.data[me.zValues]
						}
					}
				})
                
                if (plotData.length > 0) {
                    me.calculateScales(plotData);
                    me.drawData(plotData);			
                    me.drawAxes(plotData);
                }
				
			}
		})
	</script>
</polymer-element>