<polymer-element name="polimero-data" attributes="url data selected">
	<script>
		Polymer('polimero-data', {
			ready: function() {
				var me = this
				me.selected = []
				me.data = []

				// We'll check which columns are numeric
				// Take the first 100 rows
				// For each row, check if the value for a certain column can be transferred to a number
				// If it can, increment a counter in the me.keys object
				// If each row for that column can be converted to a number, then the sum should be 100
				// If it is not 100, there will be at least one row where the value is not a number
				columnTitles = {}
				d3.csv(me.url, function(data) {
					data.slice(0,100).forEach(function(d) {
						Object.keys(d).forEach(function(k) {
							if ( ! columnTitles.hasOwnProperty(k) ) { columnTitles[k] = 0 }
							if ( ! isNaN(+d[k]) ) { columnTitles[k] = columnTitles[k] + 1 }
						})
					})
					numericColumns = []
					Object.keys(columnTitles).forEach(function(k) {
						if ( columnTitles[k] == 100 ) { numericColumns.push(k)}
					})

					// Now parse the actual data
					d3.csv(me.url, function(data) {
						data.forEach(function(d,i) {
							var datapoint = {}
							datapoint['id'] = 'polimero_id_' + i // Adding an ID to each object
							datapoint['data'] = d;
							numericColumns.forEach(function(k) {
								datapoint['data'][k] = +datapoint['data'][k]
							})
							me.data.push(datapoint)
						});
					})
					return me.data

				})

			}
		})
	</script>
</polymer-element>
